.active {
    color: rgb(163 230 53);
    
}

.active:hover {
    color: white;
    /* background-color: rgba(17, 192, 17, 0.705); */
    border-bottom: none;
}

/* div a:hover{
    color: rgb(163 230 53);
    border-bottom: 2px solid rgb(163 230 53);
    transition: border-bottom 5s ease-in-out .2s;
} */

/* .bg-color{
    background: #137257;
} */